.company-links a {
    color: black;
}

.company-links a:hover {
    color: red;
}

.quick-links a {
    color: black;
}

.quick-links a:hover {
    color: red;
}

.kit h6 {
    color: black;
}

.kit h6:hover {
    color: red;
}

.footer-links a {
    color: black;
}

.footer-links a:hover {
    color: red;
}

.Themewagon a {
    color: black;
}

.Themewagon a :hover {
    color: red;
}