<div class="container">
    <footer class="footer mt-5">
        <div class="row">
            <div class="col-3 company-links">
                <h4>Company</h4>
                <a href="" class="nav-link">Terms & Conditions</a>
                <a href="" class="nav-link">Privacy Policy</a>
                <a href="" class="nav-link"> Support</a>
                <a href="" class="nav-link"> FAQ</a>
            </div>

            <div class="col-3 quick-links">
                <h4>Quick Links</h4>
                <a href="" class="nav-link">About</a>
                <a href="" class="nav-link">Services</a>
                <a href="" class="nav-link">Team</a>
                <a href="" class="nav-link">Contact</a>
            </div>

            <div class="col-3">
                <h4>Subscribe Us</h4>
                <p>Subscribe to get latest news article and resources</p>
                <input type="text" class=" form-control" placeholder="Subscribe Now...">
                <button class="btn btn-danger btn-sm mt-3">Subscribe</button>
            </div>

            <div class="col-3 kit">
                <h4><b class="text-black Active">Mega</b> <span class="text-danger"><b>kit.</b></span></h4>
                <h6><a href="" class="nav-link ">Support@megakit.com</a></h6>
                <h5 class="text-danger"><a href="" class="nav-link">+23-456-6588</a></h5>
            </div>

            <div class="col-4 mt-5">
                <p>© Copyright Reserved to <span class=" text-danger"> Megakit.</span> by <span
                        class="text-black Active "><b>Themefisher</b></span>
                </p>
            </div>

            <div class="col-4 mt-5 Themewagon ">
                <p>Distributed by
                    <a href="" class="text-decoration-none "><b>Themewagon</b></a>
                </p>
            </div>

            <div class="col-4 mt-5 footer-links">
                <a href="" class="m-3 text-decoration-none"><i class="fa-brands fa-facebook-f "></i>
                    Facebook
                </a>
                <a href="" class="m-3 text-decoration-none"><i class="fa-brands fa-twitter "></i>
                    Twitter
                </a>
                <a href="" class="m-3 text-decoration-none"><i class="fa-brands fa-linkedin-in "></i>
                    Linkdin
                </a>
            </div>
        </div>

    </footer>
</div>